<div class="row justify-content-center">
    <div class="col-6">
        <jhi-alert></jhi-alert>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-status-heading">Post a status</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="field_statusText">Post</label>
                            <textarea class="form-control" name="statusText" id="field_statusText"
                                      formControlName="statusText"></textarea>
                            <div
                                *ngIf="editForm.get('statusText').invalid && (editForm.get('statusText').dirty || editForm.get('statusText').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('statusText').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_locations">Locations</label>
                            <select class="form-control" id="field_locations" name="locations"
                                    formControlName="locations">
                                <option [ngValue]="null"></option>
                                <option
                                    [ngValue]="locationOption.id === editForm.get('locations').value?.id ? editForm.get('locations').value : locationOption"
                                    *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.location}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_privacy">Privacy</label>
                            <select class="form-control" name="privacy" formControlName="privacy" id="field_privacy">
                                <option value="PUBLIC">PUBLIC</option>
                                <option value="PRIVATE">PRIVATE</option>
                            </select>
                            <div
                                *ngIf="editForm.get('privacy').invalid && (editForm.get('privacy').dirty || editForm.get('privacy').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('privacy').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-control-label" for="field_pinnedStatus">Pinned Status</label>
                            <select class="form-control" name="pinnedStatus" formControlName="pinnedStatus"
                                    id="field_pinnedStatus">
                                <option value="PINNED">PINNED</option>
                                <option value="UNPINNED">UNPINNED</option>
                            </select>
                            <div
                                *ngIf="editForm.get('pinnedStatus').invalid && (editForm.get('pinnedStatus').dirty || editForm.get('pinnedStatus').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('pinnedStatus').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary"><span>Post</span>
                </button>
            </div>
        </form>

        <br/>

        <div *ngIf="pinnedStatuses.length > 0">
            <h4>Pinned Posts</h4>
        </div>

        <div class="table-responsive" *ngIf="pinnedStatuses">
            <table class="table table-striped">
                <tr *ngFor="let status of pinnedStatuses">
                    <td>{{status.loginId}}
                        <br/><br/>
                        {{status.statusText}}
                        <br/><br/>
                        - at {{status.locations ? status.locations.location : "Unknown"}}
                    </td>
                    <td>
                        <button type="submit"
                                [routerLink]="['/status', status.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'status', { outlets: { popup: status.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <br/>

        <div *ngIf="statuses.length > 0">
            <h4>Posts</h4>
        </div>

        <div class="table-responsive" *ngIf="statuses">
            <table class="table table-striped">
                <tr *ngFor="let status of statuses">
                    <td>{{status.loginId}}
                        <br/><br/>
                        {{status.statusText}}
                        <br/><br/>
                        - at {{status.locations ? status.locations.location : "Unknown"}}
                    </td>
                    <td>
                        <button type="submit"
                                [routerLink]="['/status', status.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'status', { outlets: { popup: status.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
