<div class="row">
    <div class="col-md-3">
        <!--<span class="hipster img-fluid rounded"></span>-->
    </div>
    <div class="col-md-6">
        <h1 class="display-4">Welcome to Tour Memories!</h1>
        <p class="lead">A place where you can recall all your tour memories</p>

        <div class="table-responsive" *ngIf="statuses">
            <table class="table table-striped">
                <tr *ngFor="let status of statuses">
                    <td>{{status.loginId}}
                        <br /><br />
                        {{status.statusText}}
                        <br /><br />
                        - at {{status.locations ? status.locations.location : "Unknown"}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-3">
    </div>
</div>
